<main class="container-fluid">
  <section class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Inscribir estudiantes</h5>
      <p>
        Por favor llena los datos de los estudiantes y el curso a inscribir:
      </p>

      <form [formGroup]="">
        <div class="col">
          <label for="colFormLabel" class="col-sm-12 col-form-label"
            >Identificación</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Id del estudiante"
            aria-label="Id del estudiante"
          />
        </div>
        <div class="col">
          <label for="colFormLabel" class="col-sm-12 col-form-label"
            >Nombre</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del estudiante"
            aria-label="Nombre del estudiante"
          />
        </div>
        <div class="col">
          <label for="colFormLabel" class="col-sm-12 col-form-label"
            >Apellido</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Apellido del estudiante"
            aria-label="Apellido del estudiante"
          />
        </div>
        <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-12 col-form-label"
            >Email</label
          >
          <div class="col-sm-6">
            <input
              type="email"
              class="form-control"
              id="colFormLabel"
              placeholder="Email del estudiante"
            />
          </div>
        </div>
      </form>

      <div class="col-12 mt-3">
        <button class="btn btn-primary" type="submit">Registrar</button>
      </div>
    </div>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</main>
